<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tablas</title>
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
</head>
<body>
    <header>
              <ul>
            <li><a href="../Index.html">Inicio</a></li>
            <li><a href="texto.html">Texto</a></li>
            <li><a href="medias.html">Medias</a></li>
            <li><a href="tablas.html">Tablas</a></li>
            <li><a href="formularios.html">Formularios</a></li>

        </ul>

    </header>
    <main>
        <h1>Tablas</h1>
        <table>
            <tr>
                <td>#</td>
                <td>Codigo</td>
                <td>Estudiante</td>

            </tr>

            <tr>
                <td>1</td>
                <td>JC1234</td>
                <td>Juan Camilo Avalos Avalos</td>
            </tr>

            <tr>
                <td>2</td>
                <td>JC12456</td>
                <td>Jesus Carmelo Avalos cruz</td>
            </tr>

            <tr>
                <td>3</td>
                <td>JM12456</td>
                <td>Jose Miguel Arevalo cruz</td>
            </tr>

        </table>
        <br />

        <table>
            <thead>

                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Estudiante</th>
                </tr>

            </thead>

            <tbody>

                <tr>
                    <td>1</td>
                    <td>JC1234</td>
                    <td>Juan Camilo Avalos Avalos</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>JC12456</td>
                    <td>Jesus Carmelo Avalos cruz</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>JM12456</td>
                    <td>Jose Miguel Arevalo cruz</td>
                </tr>

            </tbody>
        </table>

    </main>
    <footer>
        <br />
        <br />
        Derechos reservados &copy;2024
    </footer>

    <!--Direccionamiento-->
    <!--<br>
    <a href="../index.html">Regresar al inicio</a>-->

</body>
</html>